@model IEnumerable<ASPNetCoreAjax.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"> <i class="fas fa-comment-dollar text-success"></i> Transactions</h1>

<p>
    <a onclick="return showModalDialog('@Url.Action("AddOrEdit")','Create new transaction')">Create New</a>
</p>
<div class="page-content">
    @Html.Partial("_Index", Model)    
</div>


<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

            @*            <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            *@
        </div>
    </div>
</div>

